<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">@ViewBag.Title</h1>
        @RenderBody()
    </div>
</body>
</html>
