<h2>Regular</h2>
<ul id="regular-group" class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item list-group-item-danger">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
</ul>

<h2>Badges</h2>
<ol id="badge-group" class="list-group">
    <li class="list-group-item">
        <span class="badge">14</span>Cras justo odio
    </li>
    <li class="list-group-item">
        <span class="badge">2</span>Dapibus ac facilisis in
    </li>
    <li class="list-group-item">
        <span class="badge">1</span>Morbi leo risus
    </li>
</ol>

<h2>Links</h2>
<div id="link-group" class="list-group">
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item active">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item">Morbi leo risus</a>
    <a href="#" class="list-group-item disabled">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

<h2>Buttons</h2>
<div id="button-group" class="list-group">
    <button type="button" class="list-group-item">Cras justo odio</button>
    <button type="button" class="list-group-item active">Dapibus ac facilisis in</button>
    <button type="button" class="list-group-item">Morbi leo risus</button>
    <button type="button" class="list-group-item disabled">Porta ac consectetur ac</button>
    <button type="button" class="list-group-item list-group-item-success">Vestibulum at eros</button>
</div>

<h2>Custom Content</h2>
<div id="custom-content-group" class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Item 1</h4>
        <p class="list-group-item-text">Item 1 text</p>
    </a>
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Item 2</h4>
        <p class="list-group-item-text">Item 2 text</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Item 3</h4>
        <p class="list-group-item-text">Item 3 text</p>
    </a>
</div>